<!doctype html>
<html>
    <head>
        <title>Super Fun Word Game</title>
        <link rel="stylesheet" href="\static\webapp.css" />
    </head>
	
	<body>
	<h1>Fun Word Game</h1>

	<b> RULES </b>

	<p>
		 1. Each word must be made up from letters contained within the source word 
	<br> 2. The words all have 3 or more letters. 
	<br> 3. There are no duplicate words 
	<br> 4. None of the 7 submitted words is the source word
	</p>

	<form action='/Play'>
	<td><input type="submit" value="Play"></td>
	</form>
	
	</body>
	
</html>